<a title="More" id="more-button">
    <i class="fas fa-bars"></i>
    <p>Menu</p>
</a>
<div class="menu-buttons">
    <div class="menu-buttons-hidden">
        <a title="close" class="menu-button" id="close-button">
            <i class="fas fa-times"></i>
            <p>CLOSE</p>
        </a>
        <a href="{{site.url}}" title="home" class="menu-button">
            <i class="fas fa-home"></i>
            <p>HOME</p>
        </a>
        <!-- <a href="{{site.url}}/posts" title="posts" class="menu-button">
            <i class="far fa-square"></i>
            <p>BLOG</p>
        </a> -->
        <a href="{{site.url}}/{{site.resume}}" title="resume" class="menu-button">
            <i class="far fa-file"></i>
            <p>RESUME</p>
        </a>
    </div>
</div>
<div id="shade"></div>